html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.site-login{
    max-width:330px;
    margin-left:auto;
    margin-right:auto;
}


body { 
        background: #232323 url(../images/bg.png) repeat;
        margin: 0;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        
        /* Make HTML 5 elements display block-level for consistent styling */  
        header, nav, article, section, aside, footer, address {  
        display: block;  
        } 
        .wrapper {
        width: 1000px;
        min-height: 620px;
        margin: 0 auto;
        background: url(../images/bg-light1.jpg) no-repeat;
        padding-top: 10px;
        }
        
        .wrapper2 {
        width: 970px;
        min-height: 620px;
        margin: 0 auto;
        margin: 10px;
        background: url(../images/body_bg1.png) repeat;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 10px #131313;
        padding-top:30px;
        }
        
        .wrapper2 p {
            font-family: Palatino Linotype;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: bold;
            color: #268ea0;
            text-shadow: 0px 1px 0px #03282f;
            text-align: right;
        }
        .wrapper2 p center{
            text-align:center;
        }
        
        /*.wrapper2 input, select{
            margin-left: 15px;
        }*/
        
        .wrapper2 .sel{
            width:365;
        }
        .wrapper2 .action-button{
            background-color: #37AABE;
            width:300px;
            border-radius: 2px;
            font-size: 12px;
            text-align: center;
            font-weight: bold;
            height: 35px;
            line-height: 30px;
            color:#fff;
            border:none;
        }
        
        
        
        a{ color: #77dff1; text-decoration: none;}
        
        @font-face {
        font-family: 'LeagueGothicRegular';
        src: url('fonts/leaguegothic-regular-webfont.eot');
        src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
        url('fonts/leaguegothic-regular-webfont') format('truetype'),
        url('fonts/leaguegothic-regular-webfont#LeagueGothicRegular') format('svg');
        font-weight: normal;
        font-style: normal;
        }
        
        #page_name {
        position: absolute;
            top: 125px;
            margin-left: 740px;
            width:300px;
            text-transform: uppercase;
            color: #37AABE;
            font-family: LeagueGothicRegular;
            font-size: 50px;
            font-weight: lighter;
            text-shadow: 0px 2px 0px #000;
            text-align:left;
        }
        
        .reg-message {
            font-family: Palatino Linotype;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: bold;
            color: #34b0c5;
            text-shadow: 0px 1px 0px #03282f;
        }
        
        h1 {
        text-transform: uppercase;
        color: #37AABE;
        font-family: LeagueGothicRegular;
        font-size: 70px;
        font-weight: lighter;
        text-shadow: 0px 2px 0px #000;
        margin: 30px 0 0 0;
        }
        center h1 {
            font-size: 100px;
        }
        
        h2 {
        text-transform: uppercase;
        color: #37AABE;
        font-family: LeagueGothicRegular;
        font-size: 24px;
        font-weight: lighter;
        text-shadow: 0px 2px 0px #000;
        margin: 15px 0 15px 20px;
        text-align: left;
        }
                
        p.credit {font-size: 12px; margin-top: 40px; color: #ccc;}
        